<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
<meta charset="utf-8">
    <title>Ask a Dunmanian</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
    <link rel="icon" href="/public/favicon.png">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><%= user.google.picture %>Profile Page of <%= user.google.name %></h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>Id</strong>: <%= user._id %><br>
                        <strong>Email</strong>: <%= user.local.email %><br>
                    </p>

            </div>
        </div>
        
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>

                    <p>
                        <strong>Name</strong>: <%= user.google.name %><br>
                        <strong>Email</strong>: <%= user.google.email %>
                    </p>

            </div>
        </div>

        <div>
            <div class="well">
                <h3>DQueries Profile</h3>
                    <p>
                        <strong>Questions Posted</strong>: <h2><a href="/questions" class="small"><%= user.questions.question %></a></h2><br>
                        <strong>Answers Posted</strong>: <h2><a href="/answers" class="small"><%= user.questions.answer %></a></h2>
                    </p>

            </div>
        </div>


    </div>

</div>
</body>
</html>